#c {
  text-align: center;
   background-color: #FFFFFF;
   display:inline;
  }
a:link {
    text-decoration: none;
    color: #0000FF;
}

a:visited {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: none;
    color: #0000FF;
}

a:active {
    text-decoration: none;
    color: #0000FF;
}
header, section, footer, article {
    display: block;
    border:10px solid black;
    margin:5px;
    padding:3px;
}
body {
    background-image: url("/texture.png");
}
a {
  background-color: #FFFFFF;
  display:inline;
}

