#c {
  text-align: center;
  }
a:link {
    text-decoration: none;
    color: #0000FF;
}

a:visited {
    text-decoration: none;
    color: #0000FF;
}

a:hover {
    text-decoration: none;
    color: #0000FF;
}

a:active {
    text-decoration: none;
    color: #0000FF;
}
header, section, footer, aside, nav, main, article, figure {
    display: block; 
}
