a:link {
	color: lightblue;
}
a:visited {
	color: pink;
}
a:hover {
	color: yellow;
}
a:active {
	color: red;
}
@font-face {
	font-family: heyGorgeous;
	src: url("/heygorgeous.ttf");
}
p, a {
	font-family: heyGorgeous;
	font-size: 16;
	-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}

h1 {
	font-family: heyGorgeous;
	font-size: 32;
	text-align: center;
	-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}
h2 {
	font-family: heyGorgeous;
	font-size: 27;
	-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}
h3 {
	font-family: heyGorgeous;
	font-size: 22;
	-webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 2px;
}

.page {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

body {
	background-color: #254052
}
