a:link {
	color: lightblue;
}
a:visited {
	color: pink;
}
a:hover {
	color: yellow;
}
a:active {
	color: red;
}
@font-face {
	font-family: heyGorgeous;
	src: url("/heygorgeous.ttf");
}
p, a {
	font-family: heyGorgeous;
	font-size: 16;
}

h1 {
	font-family: heyGorgeous;
	font-size: 32;
}
